xmlPA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Movies" type="MoviesType"/>
  <xs:complexType name="ActorType">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DateOfBirth">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MovieType">
    <xs:sequence>
      <xs:element name="Title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Year">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value = "\d{4}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Genre" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Action" />
            <xs:enumeration value="Adventure" />
            <xs:enumeration value="Comedy" />
            <xs:enumeration value="Drama" />
            <xs:enumeration value="Fantasy" />
            <xs:enumeration value="Horror" />
            <xs:enumeration value="Mystery" />
            <xs:enumeration value="Thriller" />
            <xs:enumeration value="Western" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActorsType">
    <xs:sequence>
      <xs:element type="ActorType" name="Actor" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MoviesType">
    <xs:sequence>
      <xs:element type="MovieType" name="Movie" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>